@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Monstserrat", sans-serif;
}

body {
    height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #769FCD;
    position: relative; /* Required for the pseudo-element */
}


.Successfulchangewrap {
  display: flex;
  max-width: 890px; /* Ensures the desktop layout is maintained */
  max-height: 540px;
  align-items: center;
  justify-content: center;
  background-color:#769FCD;
  box-shadow: 2px 2px 8px grey;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}


.Successfulchangewrap::before {
  content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./dycimages/dycibackground.png') no-repeat center;
    background-size: 480px 550px;
    background-position: 1px top;
    opacity: 0.5;
    z-index: 1;
}

  /* Login Container with Curved Edge */
  .SuccessfulMessage {
    width: 500px;
  min-width: 490px;
  min-height:833px;
  padding: 90px 80px;
  background: linear-gradient(to right, #F7FBFC 50%, #D6E6F2 100%);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
  margin-left: 550px;
  z-index: 2;
  }

  .svgsuccess{
    position: absolute;
    width: 1200px;
    top: 70px;
    right: -80px;
    rotate: -90deg;
    color: #F7FBFC;
    clip-path: inset(0 27.3% 27% 0);
    overflow: hidden;
  }
  
  .title-success{
    font-size: 18px;
    color: #769FCD;
    margin-top: 100px;
    margin-left: -100px;
    text-align: center;
    min-width: 250px;
  }
  
  

  .successMessage{
    max-width:300px;
    margin-left:-20px;
    margin-top:30px;
   font-size: 14px;
   word-break: break-word;
   color: #769FCD;
  }

  .linksuccess {
    display: block;
    text-align: right;
    margin-top: -16px;
    font-size: 14px; /* Increased font size */
    color: #769FCD;
    text-decoration: none;
  }
  
  .linksuccess:hover {
    color: #769FCD;
    text-decoration: underline;
  }


  .loginbackbutton {
    width: 87%;
    padding: 8px;
    background-color: #2665AC;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 60px;
    margin-left:-25px;
  }
  
  .loginbackbutton:hover {
    background-color: #0056b3;
  }

  @media (max-width: 1200px), (max-width: 992px), (max-width: 768px), (max-width: 576px),  (max-width: 375px){
    body {
      height: 100vh; /* Full viewport height */
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #769FCD;
      position: relative; /* Required for the pseudo-element */
  }
  
  
  .Successfulchangewrap {
    display: flex;
    max-width: 890px; /* Ensures the desktop layout is maintained */
    max-height: 540px;
    align-items: center;
    justify-content: center;
    background-color:#769FCD;
    box-shadow: 2px 2px 8px grey;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }
  
  
  .Successfulchangewrap::before {
    content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url('./dycimages/dycibackground.png') no-repeat center;
      background-size: 480px 550px;
      background-position: 1px top;
      opacity: 0.5;
      z-index: 1;
  }
  
    /* Login Container with Curved Edge */
    .SuccessfulMessage {
      width: 500px;
    min-width: 490px;
    min-height:833px;
    padding: 90px 80px;
    background: linear-gradient(to right, #F7FBFC 50%, #D6E6F2 100%);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    margin-left: 550px;
    z-index: 2;
    }
  
    .svgsuccess{
      position: absolute;
      width: 1200px;
      top: 70px;
      right: -80px;
      rotate: -90deg;
      color: #F7FBFC;
      clip-path: inset(0 27.3% 27% 0);
      overflow: hidden;
    }
    
    .title-success{
      font-size: 18px;
      color: #769FCD;
      margin-top: 100px;
      margin-left: -100px;
      text-align: center;
      min-width: 250px;
    }
    
    
  
    .successMessage{
      max-width:300px;
      margin-left:-20px;
      margin-top:30px;
     font-size: 14px;
     word-break: break-word;
     color: #769FCD;
    }
  
    .linksuccess {
      display: block;
      text-align: right;
      margin-top: -16px;
      font-size: 14px; /* Increased font size */
      color: #769FCD;
      text-decoration: none;
    }
    
    .linksuccess:hover {
      color: #769FCD;
      text-decoration: underline;
    }
  
  
    .loginbackbutton {
      width: 87%;
      padding: 8px;
      background-color: #2665AC;
      color: white;
      border: none;
      border-radius: 12px;
      font-size: 16px;
      cursor: pointer;
      margin-top: 60px;
      margin-left:-25px;
    }
    
    .loginbackbutton:hover {
      background-color: #0056b3;
    }
  }